<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0"><channel><title>Amsterdam Events Feed</title><link>https://raw.githubusercontent.com/lassebenninga/amsterdam-events-feed/main/events.xml</link><description>Curated upcoming events and activities in Amsterdam</description><docs>http://www.rssboard.org/rss-specification</docs><generator>Amsterdam Events Scraper v1.0</generator><language>en</language><lastBuildDate>Sun, 08 Jun 2025 21:44:02 +0000</lastBuildDate><item><title>Eventbrite: HeartFire presents:: Ajeet - Live in Amsterdam 3 October 2025</title><link>https://www.eventbrite.nl/e/heartfire-presents-ajeet-live-in-amsterdam-3-october-2025-tickets-1237437180919?aff=ebdssbcitybrowsenightlife</link><description>Source: Eventbrite Amsterdam

Find this event on Eventbrite: HeartFire presents:: Ajeet - Live in Amsterdam 3 October 2025</description><guid isPermaLink="false">https://www.eventbrite.nl/e/heartfire-presents-ajeet-live-in-amsterdam-3-october-2025-tickets-1237437180919?aff=ebdssbcitybrowsenightlife</guid><pubDate>Sun, 08 Jun 2025 21:44:01 +0000</pubDate></item><item><title>Eventbrite: Shaun Hughes and Friends ... LIVE at Pekky!</title><link>https://www.eventbrite.nl/e/shaun-hughes-and-friends-live-at-pekky-tickets-1302928607539?aff=ebdssbcitybrowsenightlife</link><description>Source: Eventbrite Amsterdam

Find this event on Eventbrite: Shaun Hughes and Friends ... LIVE at Pekky!</description><guid isPermaLink="false">https://www.eventbrite.nl/e/shaun-hughes-and-friends-live-at-pekky-tickets-1302928607539?aff=ebdssbcitybrowsenightlife</guid><pubDate>Sun, 08 Jun 2025 21:44:01 +0000</pubDate></item><item><title>Eventbrite: SPOTLIGHT SESSIONS by stadtklang w/ MIKOLAJ X ALBERTO</title><link>https://www.eventbrite.de/e/spotlight-sessions-by-stadtklang-w-mikolaj-x-alberto-tickets-1311554437629?aff=ebdssbcitybrowsenightlife</link><description>Source: Eventbrite Amsterdam

Find this event on Eventbrite: SPOTLIGHT SESSIONS by stadtklang w/ MIKOLAJ X ALBERTO</description><guid isPermaLink="false">https://www.eventbrite.de/e/spotlight-sessions-by-stadtklang-w-mikolaj-x-alberto-tickets-1311554437629?aff=ebdssbcitybrowsenightlife</guid><pubDate>Sun, 08 Jun 2025 21:44:00 +0000</pubDate></item><item><title>Eventbrite: Вечірка разом з ALYONA ALYONA в Амстердамі !</title><link>https://www.eventbrite.com/e/alyona-alyona-tickets-1312866592319?aff=ebdssbcitybrowsenightlife</link><description>Source: Eventbrite Amsterdam

Find this event on Eventbrite: Вечірка разом з ALYONA ALYONA в Амстердамі !</description><guid isPermaLink="false">https://www.eventbrite.com/e/alyona-alyona-tickets-1312866592319?aff=ebdssbcitybrowsenightlife</guid><pubDate>Sun, 08 Jun 2025 21:44:00 +0000</pubDate></item></channel></rss>